/* Light Mode Styles */
:root {
  --background-color: #e0f7fa;  
  --text-color: #000000;       
  --post-background-color: #bbdefb; 
  --footer-background-color: #b3e5fc; 
  --container-background-color: #ffffff; 
  --button-background-color: #ffffff;
  --button-text-color: #000000;
}

/* Apply the background color to the body */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
/* Dark Mode Styles */
body.dark-mode {
  --background-color: #121212;  
  --text-color: #ffffff;       
  --post-background-color: #103469; 
  --footer-background-color: #1e88e5; 
  --container-background-color: #1565c0; 
  --button-background-color: #0d47a1; 
  --button-text-color: #ffffff;
}

/* Dark Mode Styles */
body.dark-mode {
  --background-color: #1565c0;  
  --text-color: #ffffff;        
  --post-background-color: #0d47a1;  
  --footer-background-color: #1e88e5; 
}
/* General header and footer styling */
header {
  padding-bottom: 1rem;  
  text-align: center;   
  border-bottom: none;  
}

/* Header buttons (Light/Dark mode and Back button) */
.header-buttons button {
  background-color: var(--post-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold; 
}

.header-buttons button:hover {
  opacity: 0.9; 
}

main {
  min-height: calc(100vh - 90%); 
  padding-bottom: 2rem; 
}

#posts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 2rem;
    min-height: 100px; 
}

.post-card {
  box-sizing: border-box;
  background-color: var(--post-background-color);
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  width: 100%; 
  margin-bottom: 1%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post-card h2 {
  margin-bottom: 5px;
  font-size: 1.5rem;  
}

.post-card p {
  margin-bottom: 3px;
}

.post-card:hover {
  background-color: var(--dark-accent);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.posted-by {
  font-style: italic;
  color: black;
  font-size: 0.9rem;
}

/* Dark Mode - Posted by text */
body.dark-mode .posted-by {
  color: #ffffff;  
  font-style: italic;
}

#no-posts-message {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  padding: 1rem 2rem;
  background-color: var(--light-accent);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #222;
  width: fit-content;
}

footer {
  background-color: var(--footer-background-color);
  border-top: double 1rem black; 
  padding: 1rem 0;
  text-align: center;          
}

footer p {
  margin:0.5rem 0;
}
