/*
  Resets
*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* General Styles */
body {
  background-color: var(--light);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Light Mode Styles */
:root {
  --background-color: #e0f7fa;  
  --text-color: #1a237e;       
  --input-background-color: #ffffff;
  --circle-color: #bbdefb;    
  --circle-outline-color: #1e88e5; 
  --button-background-color: #64b5f6; 
  --button-text-color: #0d47a1; 
  --dark-accent: #0d47a1;      
  --dark-accent-action: #1976d2; 
  --error: #d32f2f;           
  --disabled: #888;            
  --border-color: #0d47a1; 
}

/* Dark Mode Styles */
body.dark-mode {
  --background-color: #001f3f;
  background-color: var(--background-color);
  --text-color: #ffffff;
  color: var(--text-color);   
  --input-background-color: #0d47a1; 
  --circle-color: #0d47a1;    
  --circle-outline-color: #0d47a1; 
  --button-background-color:#0d47a1; 
  --button-text-color: #ffffff; 
  --dark-accent: #0d47a1;    
  --dark-accent-action: #051938; 
  --error: #ff6f61;          
  --disabled: #ccc;           
  --border-color: #ffffff; 
}

body.dark-mode input[type="submit"] {
  background: linear-gradient(to bottom, #0d47a1, #0d4e86); /* Adjust colors for dark mode */
  color: #ffffff; /* Keep text color white */
}

header {
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px;
  width: 100%;
}

header h1 {
  font-size: 2.5rem;
  color: var(--text-color); 
}

/* Lines use the exact same color */
.border-top, .divider {
  border-color: var(--border-color); 
  border-width: 0.25rem; 
  border-style: double; 
}

/* Center the h1 in the header */
header h1 {
  text-align: center;
  width: 100%;
  margin-top: 20px;
  font-size: 2.5rem;
  color: var(--text-color);
}

.header-buttons {
  position: absolute;
  right: 20px; 
  top: 50%;
  transform: translateY(-50%);
}

/* Section and Aside Styles */
main {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100vh; 
}

aside {
  background: radial-gradient(circle, var(--circle-outline-color), var(--circle-color)); 
  clip-path: circle(50% at center);
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
}

.circle {
  color: var(--dark-accent);
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
}

section {
  padding: 2rem;
  display: flex;
  align-items: stretch;
  flex-flow: column wrap;
  justify-content: center;
  flex: 1;
  border-left: double 1rem var(--dark-accent);
}

/* Headings */
h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: white; 
}

.circle h2 {
  font-size: 4rem; 
  font-weight: 900; 
  color: white; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Adding shadow for a 'raised' text effect */
}


/* Form Styles */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
}

form > *:not(label) {
  margin: 1rem 0;
  padding: 0.5rem;
}

/* Make the form labels bold */
label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

/* Input and Textarea Styles */
input::placeholder, 
textarea::placeholder {
  font-weight: bold;
  color: var(--text-color); 
}

input, textarea {
  background-color: var(--input-background-color);
  color: var(--text-color);
  border-radius: 4px;
  border: 1px solid var(--dark-accent);
  padding: 10px;
  font-weight: bold;
}

input[type="submit"] {
  padding: 1rem;
  cursor: pointer;
  font-weight: 900; 
  font-size: 1.5rem; 
  background-color: #64b5f6;
  color: #ffffff; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

input[type="submit"]:hover {
  background: linear-gradient(to bottom, #0d4e86, #0d47a1);
}

input[type="submit"]:active {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
  background-color: var(--dark-accent); 
}

button {
  background-color: #051938;
  color: var(--button-text-color);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: var(--dark-accent); 
  opacity: 0.9;
}

/* Error Message Styles */
#error {
  color: var(--error);
  opacity: .75;
  position: absolute;
  bottom: -2rem;
}

/* Dark Mode Specific Styles */
body.dark-mode section {
  border-left: double 1rem var(--border-color);
}

@media (max-width: 600px) {
  aside {
    clip-path: circle(45% at center); /* Adjust clip-path for smaller screens */
  }

  .circle {
    font-size: 1.5rem; /* Adjust font size for small screens */
    max-width: 80vw;   /* Set max width relative to the viewport */
  }
}